<div class="container">
  <div ng-if="!session.is_logged_in()">
    <alert type="">Se necesita estar logueado.</alert>
  </div>
  <div ng-if="session.is_logged_in()">
    <div ng-if="cart.items.length == 0">
      <div class="row">
        <alert type="">El carrito esta vacio.</alert>
      </div>
    </div>
    <div ng-if="cart.items.length > 0">
      <br/>
      <div class="action row">
        <div class="col-md-12">
          <div class="pull-right">
            <a class="btn btn-danger" ng-click="onClickRemoveAll()">Vaciar Carrito</a>
            <a class="btn btn-success" href="#checkout">Finalizar Compra</a>
          </div>
        </div>
      </div>
      <br/>
      <div cartproductlist></div>
      <br/>
      <div class="action row">
        <div class="col-md-12">
          <div class="pull-right">
            <a class="btn btn-danger" ng-click="onClickRemoveAll()">Vaciar Carrito</a>
            <a class="btn btn-success" href="#checkout">Finalizar Compra</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
