<div id="cart" class="container">
  <div class="row">
    <div class="col-md-6">
      <!--<div breadcrumbs></div>-->
      <!-- Using the above instead of this:

      {{ location('Confirmación de compra', [
      ['Home', 'index.html']
      ]) }}
       -->
    </div>
  </div>
  <div class="summary">
    <accordion close-others="false">
      <accordion-group heading="1. Información Personal" is-open="true">
        <div ng-if="session.is_logged_in()">
          <div class="discount row col-md-8">
            <h4>Nombre: {{session.profile.firstName}} {{session.profile.lastName}}</h4>
            <h4>Email: {{session.profile.email}}</h4>
            <h4>Nombre de usuario: {{session.profile.username}}</h4>
          </div>
        </div>
        <div ng-if="!session.is_logged_in()">
          <div class="discount row">
            <div class="col-md-6">
              <h2>Usuario</h2>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Nombre de usuario">
            </div>
          </div>
          <div class="discount row">
            <div class="col-md-6">
              <h2>Contraseña</h2>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Contraseña">
            </div>
          </div>
          <div class="selection-area">
            <button class="btn-primary">Registrarme</button>
            <button class="btn-primary">Ingresar</button>
          </div>
          <div class="row col-md-8 col-md-offset-2">
            <br/>
            <alert ng-repeat="alert in alertMessagesForLogIn" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="2. Datos de envío" is-disabled="!session.is_logged_in()" is-open="session.is_logged_in()">
        <div class="selection-area">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="addressSelection.selectionStatus" btn-radio="'address-existing'">Dirección Existente</label>
            <label class="btn btn-primary" ng-model="addressSelection.selectionStatus" btn-radio="'address-new'">Nueva Dirección</label>
          </div>
        </div>
        <div class="discount row">
          <div ng-if="addressSelection.selectionStatus == 'address-existing'">
            <div class="col-md-5 amount">
              <select class="form-control" ng-model="addressSelection.selectedAddress">
                <option ng-repeat="address in existingAddresses">{{address.name}}</option>
              </select>
            </div>
          </div>
          <div ng-if="addressSelection.selectionStatus == 'address-new'">
            <div class="col-md-6">
              <br/>
              <input type="text" class="form-control" ng-model="addressInputField.address" placeholder="Ingrese dirección">
              <br/>
              <button class="btn-primary" ng-click="onAddAddressClick()">Añadir</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <alert ng-repeat="alert in alertMessagesForAddress" type="{{alert.type}}">{{alert.message}}</alert>
        </div>
      </accordion-group>
      <accordion-group heading="3. Método de pago" is-disabled="!session.is_logged_in()" is-open="session.is_logged_in()">
        <div class="selection-area">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="cardSelection.selectionStatus" btn-radio="'card-existing'">Tarjeta Existente</label>
            <label class="btn btn-primary" ng-model="cardSelection.selectionStatus" btn-radio="'card-new'">Nueva Tarjeta</label>
          </div>
        </div>
        <div class="discount row">
          <div ng-if="cardSelection.selectionStatus == 'card-existing'">
            <div class="col-md-5 amount">
              <select class="form-control" ng-model="cardSelection.selectedCard">
                <option ng-repeat="creditCard in existingCreditCards">{{creditCard.number}}</option>
              </select>
            </div>
          </div>
          <div ng-if="cardSelection.selectionStatus == 'card-new'">
            <br/>
            <div class="col-md-6 col-md-offset-3">

              <form action="" name="creditCardForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                
                <div id="discount-text">Datos de tarjeta de credito: </div>
                <div class="first-row-third-step-2">
                  <div class="col-md-8">

                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="cardData.number" placeholder="Numero de tarjeta" required>
                    </div>

                  </div>
                  <div class="col-md-4">

                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="cardData.ccv" placeholder="Cod. Seguridad" required>
                    </div>

                  </div>
                </div>
                <div class="col-md-2">Vencimiento:</div>
                <div class="col-md-5 amount">
                  <select class="form-control" ng-model="cardData.month" ng-options="opt for opt in dateFormat.mstep"></select>
                </div>
                <div class="col-md-5 amount">
                  <select class="form-control" ng-model="cardData.year" ng-options="opt for opt in dateFormat.ystep"></select>
                </div>
                <h3>&nbsp;</h3>
                <div class="control-group col-md-offset-5">
                  <button class="btn-primary" ng-click="onAddCardClick()"  ng-disabled="creditCardForm.$invalid">Añadir</button>
                </div>
                
              </form>



            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="4. Resumen" is-disabled="!session.is_logged_in()" is-open="session.is_logged_in()">
        <div class="product row">
          <div class="col-md-2 image">
            <img src="img/product_{{ image }}.jpg" alt="{{ desc }}">
            <button class="btn-primary">Modificar</button>
            <button class="btn-danger">Quitar</button>
          </div>
          <div class="col-md-4 desc">
            <h3>{{ desc }}</h3>
            <h4>Color {{ color }}</h4>
            <h4>Talle {{ size }}</h4>
          </div>
          <div class="col-md-2 amount">
            <select class="form-control">
              <option>1</option>
            </select>
          </div>
          <div class="col-md-2 price">${{ price }}</div>
          <div class="col-md-2 total">${{ price }}</div>
        </div>
        <div class="total row">
          <div class="col-md-2 col-md-offset-8">
            <h2>Total</h2>
          </div>
          <div class="col-md-2 total">$601</div>
        </div>
        <div class="action row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn-danger">Vaciar Carrito</button>
              <button class="btn-success">Finalizar Compra</button>
            </div>
          </div>
        </div>
      </accordion-group>
  </div>
</div>
