<footer id="footer" class="footer">
	<div class="col-md-3 social">
		<img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/>
		<img src="http://static.viewbook.com/images/social_icons/twitter_32.png"/>
		<img src="http://static.viewbook.com/images/social_icons/pinterest_32.png"/>
		<img src="http://static.viewbook.com/images/social_icons/instagram_32.png"/>
		<img src="http://static.viewbook.com/images/social_icons/google_32.png"/>
	</div>


	<div class="col-md-2 col-md-offset-1">
		<i class="glyphicon glyphicon-envelope"></i>
		<span class="email">contacto@neon.com</span>
	</div>
	<div class="col-md-2">
		<i class="glyphicon glyphicon-earphone"></i>
		<span class="phone">+5411-4421-4412</span>
	</div>

	<div class="col-md-3 col-md-offset-1 credit-cards">
		.<img src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_17.gif" />
	</div>
</footer>
