<footer id="footer" class="footer">
	<span>Aceptamos</span>
	<img src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_17.gif" width="235" height="35" />

	<span>Redes</span>
	<img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/>
	<img src="http://static.viewbook.com/images/social_icons/twitter_32.png"/>
	<img src="http://static.viewbook.com/images/social_icons/pinterest_32.png"/>
	<img src="http://static.viewbook.com/images/social_icons/instagram_32.png"/>
	<img src="http://static.viewbook.com/images/social_icons/google_32.png"/>

	<span>Contacto</span>
	<i class="glyphicon glyphicon-envelope"></i>
	<span class="email">contacto@neon.com</span>


	<i class="glyphicon glyphicon-earphone"></i>
	<span class="phone">+5411-4421-4412</span>
</footer>
