<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="#/"><h1>Neon</h1></a>
      </div>
      <div class="col-md-4">
        <nav class="user">
          <a href="#faq"><i class="glyphicon glyphicon-question-sign"></i></a>
          <a href="#user"><i class="glyphicon glyphicon-user"></i></a>
          <a href="#liked"><i class="glyphicon glyphicon-heart"></i></a>
          <a href="#cart"><i class="glyphicon glyphicon-shopping-cart"></i></a>
        </nav>
      </div>
    </div>
    <div class="row">
      <nav class="shop">
        <ul class="nav navbar-nav">
          <li>
            <a class="home" href="#/">Home</a>
          </li>
          <li ng-repeat="filter in ['hombres', 'mujeres', 'chicos', 'chicas']" class="dropdown" dropdown>

            <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">{{filter}}<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="category in categories">
                 <a href="#category/{{ filter }}/{{ category.id }}">{{ category.name }}</a>
              </li>
              <!-- <li class="divider"></li> -->
            </ul>

          </li>
          <li class="cart dropdown" dropdown>
            <!-- <a>Items in cart: {{ cart.items.length }}</a> -->
            <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
              Carrito <span class="badge">{{ cart.items.length }}</span> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
              <div ng-repeat="item in cart.items">
                <li class="divider"></li>
                <li>
                  <p class="name">{{ item.product.name }}</p>
                  <img src="{{ item.product.images[0] }}" alt="">
                  <button class="btn btn-danger" ng-click="cart.remove(cart.items[$index])">Quitar</button>
                </li>
            </div>
            </ul>
          </li>

          <li class="dropdown" dropdown>
            <!-- <a>Items in cart: {{ cart.items.length }}</a> -->
            <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
              Cajón Mágico <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu" style="width: 500px">
              {{ magicDrawer }}
            </div>
            </ul>
          </li>
        </ul>

        <ul class="search">
          <form class="navbar-form navbar-left" role="search" action="#categories">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </form>
        </ul>
      </nav>
    </div>
  </header>
