<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container-navbar" style="margin-left:10px;margin-right:20px">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">NEON</a>
    </div>

    <ul class="nav navbar-nav categories">
      <li ng-repeat="filter in ['hombres', 'mujeres', 'chicos', 'chicas']" class="category dropdown" dropdown>
        <a class="dropdown-toggle name" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">{{filter}}<span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="category in categories">
             <a ng-href="#category/{{ filter }}/{{ category.id }}">{{ category.name }}</a>
          </li>
          <!-- <li class="divider"></li> -->
        </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-right search" role="search">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="searchBoxText" placeholder="Busqueda">
      </div>
      <button type="submit" ng-click="searched()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>

    <ul class="nav navbar-nav navbar-right buttons">
      <li>
        <a ng-href="#/profile">
          <i class="glyphicon glyphicon-user"></i>
          <span ng-if="session.is_logged_in()">{{ session.profile.firstName }}</span>
        </a>
      </li>
      <li><a ng-href="#/faq"><i class="glyphicon glyphicon-question-sign"></i></a></li>
      <li><a ng-href="#/liked"><i class="glyphicon glyphicon-heart"></i></a></li>

      <li class="cart" ng-if="session.is_logged_in()">
        <a ng-href="#/cart">
          <i class="glyphicon glyphicon-shopping-cart"></i>
        </a>
      </li>

      <li class="cart-menu dropdown" dropdown ng-if="session.is_logged_in()">
        <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false" ng-disabled="cart.items.length == 0">
          <span class="badge" style="margin-top:-5px; vertical-align:middle;">{{ cart.items.length }}</span>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu menu" role="menu">
          <div ng-if="cart.order_id == null" class="has-spinner-block">
            <i class="spinner glyphicon glyphicon-refresh"></i> Cargando
          </div>

          <ul ng-if="cart.items && cart.items.length>0" class="menu-list">
            <div class="items">
              <li ng-repeat="item in cart.items" class="item row">
                <div class="image col-md-2">
                  <a href="#/product/{{ item.product.id }}">
                    <img ng-src="{{ item.product.images[0] }}" alt="{{ item.product.name }}" />
                  </a>
                </div>

                <div class="desc col-md-5">
                  <a ng-href="#/product/{{ item.product.id }}" class="text-primary"><span>{{ item.product.name }}</span></a>
                </div>

                <div class="col-md-2">
                  <a ng-href="#/product/{{ item.product.id }}" class="btn btn-success price">${{ item.product.price }}</a>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger remove" ng-click="cart.remove(cart.items[$index])">Quitar</button>
                </div>
              </li>
            </div>
            <li class="divider"></li>
            <li>
              <div style="text-align:center"><h5>Total: ${{ cart.total() }} en {{ cart.items.length }} productos</h5></div>
            </li>
            <li>
              <div>
                <a class="btn btn-default checkout" style="width: 50%" href="#cart">Ver carrito</a>
                <a class="btn btn-success checkout" style="width: 49%" href="#checkout">Finalizar compra</a>
                </div>
            </li>
          </ul>
        </ul>
      </li>

    </ul>
  </div><!-- /.container-fluid -->
</nav>
