<div id="product-detail" class="container">
  <div ng-if="product">
    <div class="images col-md-4 col-md-offset-2">
      <div class="main-container">
        <img class="main" src="{{ product.images[0] }}" alt="{{ product.name }}">
      </div>

      <div class="clearfix"></div>

      <img class="mini" ng-repeat="src in product.images.slice(1, 4)" src="{{ src }}" alt="{{ product.name }}">
    </div>
    aca: ""{{ esto }}""
    <div class="description col-md-4">
      <h1 class="desc">{{ product.name }}</h1>

      <table class="table">
        <caption>Detalles del Producto</caption>

        <tr ng-if="product.brand">
          <td>Marca</td> <td>{{ product.brand }}</td>
        </tr>
        <tr ng-if="product.sizes">
          <td>Talles</td> <td>{{ product.sizes | join: ', ' }}</td>
        </tr>
        <tr ng-if="product.color">
          <td>Color</td> <td>{{ product.color }}</td>
        </tr>
        <tr ng-if="product.material">
          <td>Material</td> <td>{{ product.material }}</td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-6">
          <h2 class="price">${{ product.price }}</h2>
        </div>
        <div class="col-md-6">
          <a href="cart.html" class="buy btn btn-success">Añadir al Carrito</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="! product">
    <h1>Cargando...</h1>
  </div>
</div>
<!-- <div class="container">
  <div id="related" class="row">
    <div class="row">
      <h1 class="col-md-offset-2">Relacionados</h1>
    </div>
    <div class="col-md-2"></div>
    <article class="product-mini">
      <div class="thumbnail">
        <a href="product{{ id }}.html">
          <img src="img/product_{{ id }}.jpg" alt="{{ desc }}" />
        </a>
        <div class="caption">
          <a href="product{{ id }}.html" class="desc">{{ desc }}</a>
          <a href="product{{ id }}.html" class="price">${{ price }}</a>
        </div>
      </div>
    </article> <article class="product-mini">
    <div class="thumbnail">
      <a href="product{{ id }}.html">
        <img src="img/product_{{ id }}.jpg" alt="{{ desc }}" />
      </a>
      <div class="caption">
        <a href="product{{ id }}.html" class="desc">{{ desc }}</a>
        <a href="product{{ id }}.html" class="price">${{ price }}</a>
      </div>
    </div>
  </article> <article class="product-mini">
  <div class="thumbnail">
    <a href="product{{ id }}.html">
      <img src="img/product_{{ id }}.jpg" alt="{{ desc }}" />
    </a>
    <div class="caption">
      <a href="product{{ id }}.html" class="desc">{{ desc }}</a>
      <a href="product{{ id }}.html" class="price">${{ price }}</a>
    </div>
  </div>
</article> <article class="product-mini">
<div class="thumbnail">
  <a href="product{{ id }}.html">
    <img src="img/product_{{ id }}.jpg" alt="{{ desc }}" />
  </a>
  <div class="caption">
    <a href="product{{ id }}.html" class="desc">{{ desc }}</a>
    <a href="product{{ id }}.html" class="price">${{ price }}</a>
  </div>
</div>
</article>
</div> -->
</div>
