<div id="product-detail" class="container">
  <div ng-if="! product" class="has-spinner-block">
    <i class="spinner glyphicon glyphicon-refresh"></i> Cargando
  </div>

  <div ng-if="product">
    <div class="images col-md-4 col-md-offset-2">
      <div class="main-container">
        <img class="main" src="{{ product.images[0] }}" alt="{{ product.name }}">
      </div>

      <div class="clearfix"></div>

      <img class="mini" ng-repeat="src in product.images.slice(1, 4)" ng-src="{{ src }}" alt="{{ product.name }}">
    </div>
    <div class="description col-md-4">
      <h1 class="desc">{{ product.name }}</h1>

      <table class="table">
        <caption>Detalles del Producto</caption>

        <tr ng-if="product.brand">
          <td>Marca</td>
          <td>{{ product.brand }}</td>
        </tr>
        <tr ng-if="product.sizes">
          <td>Talles</td>
          <td>
            <select class="form-control" ng-model="productSelections.size" ng-options="s for s in product.sizes" ng-init="productSelections.size=product.sizes[0]"></select>
          </td>
        </tr>
        <tr ng-if="product.color">
          <td>Color</td>
          <td>{{ product.color }}</td>
        </tr>
        <tr ng-if="product.material">
          <td>Material</td>
          <td>{{ product.material }}</td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-6">
          <h2 class="price">${{ product.price }}</h2>
        </div>
        <div class="col-md-6">
          <a ng-click="addToCart()" class="buy btn btn-success" ng-disabled="loading || !session.is_logged_in()">Añadir al Carrito</a>
        </div>
        <div ng-if="!session.is_logged_in()">
          <div class="col-md-12" style="margin-top:10px;">
            <alert>Se necesita estar logueado para poder añadir productos al carrito.</alert>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
  <div class="col-md-4 col-md-offset-2" style="margin-top:40px">
    <h2>Productos sugeridos</h2>
  </div>
  <div class="col-md-8 col-md-offset-2" style="margin-top:20px">
    <div product-list products="products"></div>
  </div>
</div>
</div>
