<div class="row" style="position:fixed;">
  <div class="col-sm-4 col-md-12 sidebar col-md-offset-2">
    <div class="list-group">
      <span ng-if="filter.category" class="list-group-item">
        <h5>Categoría</h5>
        <div class="">
          <span class="btn btn-default" ng-click="removeCategory()"><i class="glyphicon glyphicon-remove"></i> {{categoryName.name}}</span>
        </div>
      </span>
      <span class="list-group-item">
        <h5>Genero</h5>
        <table style="font-size:14px">
          <thead>
            <tr>
               <th style="width: 20%;"></th>
               <th style="width: 10%;"></th>
               <th style="width: 70%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="gender in possibleGenders">
              <td class="vcenter checkboxes-row"><input type="radio" value="{{gender}}" ng-change='attributeChanged()' ng-model="filter.gender" name="gender"/></td>
              <td></td>
              <td>{{gender}}</td>
            </tr>
          </tbody>
        </table>
      </span>
      <span class="list-group-item" style="height: 100px">
        <h5>Color</h5>
            <select class="form-control" ng-model="filter.color" ng-options="c for c in possibleColors" ng-change='attributeChanged()'><option></option></select>
      </span>
      <span class="list-group-item" style="height: 100px">
        <h5>Edad</h5>
            <select class="form-control" ng-model="filter.ages" ng-options="a for a in possibleAges" ng-change='attributeChanged()'><option></option></select>
      </span>
      <span class="list-group-item" style="height: 100px">
        <h5>Ocasión</h5>
            <select class="form-control" ng-model="filter.ocation" ng-options="a for a in possibleOcations" ng-change='attributeChanged()'><option></option></select>
      </span>
      <span class="list-group-item" style="height: 100px">
        <h5>Marca</h5>
            <select class="form-control" ng-model="filter.brand" ng-options="a for a in possibleBrands" ng-change='attributeChanged()'><option></option></select>
      </span>
    </div>
  </div>
</div>
