<div class="row">
  <div class="col-sm-4 col-md-12 sidebar">
    <div class="list-group">
      <span class="list-group-item">
        <h5>Búsqueda</h5>
        <div class="">
          Hola
        </div>
      </span>
      <span class="list-group-item">
        <h5>Talle</h5>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>S
          </label>
        </div>
      </span>
      <a class="list-group-item">
        <i class="fa fa-search"></i> Lorem ipsum
      </a>
      <a class="list-group-item">
        <i class="fa fa-user"></i> Lorem ipsum
      </a>
      <a class="list-group-item">
        <i class="fa fa-folder-open-o"></i> Lorem ipsum
        <span class="badge">14</span>
      </a>
      <a class="list-group-item">
        <i class="fa fa-bar-chart-o"></i> Lorem ipsumr
        <span class="badge">14</span>
      </a>
      <a class="list-group-item">
        <i class="fa fa-envelope"></i> Lorem ipsum
      </a>
    </div>
  </div>
</div>
