<div class="container">
  <div class="row">
  <article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article>
  <article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article>
  <article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article>
  <article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article><article class="product-mini">
    <div class="thumbnail">
      <a href="product1.html">
        <img src="img/product1.jpg" alt="Zapato de Cuero Copado" />
      </a>

      <div class="caption">
        <a href="product{{ id }}.html" class="desc">Zapato de Cuero Copado</a>
        <a href="product{{ id }}.html" class="price">$940</a>
      </div>
    </div>
  </article>
  </div>
  <div class="row">
  </div>
</div>