<div class="container">
  <form class="form-horizontal login">
    <div ng-if="error != null" class="alert alert-danger col-md-offset-2">
      {{ error }}
    </div>

    <div class="form-group {{ form.showEmailError ? 'has-error' : '' }}">
      <label class="col-md-2 control-label">E-mail</label>

      <div class="col-md-10">
        <input type="text" class="form-control"
          placeholder="tu@email.com"
          ng-model="form.email"
          ng-change="validate()">
      </div>
    </div>

    <div class="form-group {{ form.showPasswordError ? 'has-error' : '' }}">
      <label class="col-md-2 control-label">Contraseña</label>

      <div class="col-md-10">
        <input type="password" class="form-control"
          ng-model="form.password"
          ng-change="validate()">
      </div>
    </div>

    <div ng-if="loading">LOADING</div>

    <div class="pull-right">
      <a type="submit" class="btn btn-info" ng-href="#/signup">No tengo cuenta</a>
      <button type="submit" class="btn btn-success" ng-click="submit()" ng-disabled="disableSubmit">Iniciar Sesión</button>
    </div>
  </form>
</div>
