<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <article ng-repeat="product in products" class="product-mini">
      <div class="thumbnail">
        <a ng-href="/product/{{ product.id }}">
          <img src="{{ product.images[0] }}" alt="{{ product.name }}" />
        </a>

        <div class="caption">
          <a ng-href="/product/{{ product.id }}" class="desc">{{ product.name }}</a>
          <a ng-href="/product/{{ product.id }}" class="price">{{ product.price }}</a>
        </div>
      </div>
    </article>
  </div>
</div>
