<div class="container">
  <div class="row" style="height:350px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in carrouselSlides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto; height:305px;">
        <div class="carousel-caption">
          <p>{{slide.title}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
    <article ng-repeat="product in mainC.products" class="product-mini">
      <div class="thumbnail">
        <a href="product1.html">
          <img src="img/product1.jpg" alt="{{product.description}}" />
        </a>
        <div class="caption">
          <a href="product{{ id }}.html" class="desc">{{product.description}}</a>
          <a href="product{{ id }}.html" class="price">{{product.price}}</a>
        </div>
      </div>
    </article>
  </div>
</div>
