<div class="container" id="profile">

  <h1 class="col-md-offset-3">Perfil</h1>

  <div ng-if="!!error" class="alert alert-danger col-md-5 col-md-offset-4">
    {{ error }}
  </div>

  <form class="form-horizontal update col-md-6 col-md-offset-3">

    <div class="form-group {{ status.name !== 'valid' ? 'has-error' : '' }}">
      <label class="col-md-2 control-label">Nombre</label>

      <div class="col-md-10">
        <input type="text"
          class="form-control"
          placeholder="{{ session.profile.firstName }}"
          ng-model="form.name"
          ng-change="validate()">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">DNI</label>

      <div class="col-md-10">
        <input type="text"
          class="form-control"
          disabled
          ng-model="session.profile.identityCard">
      </div>
    </div>

    <div class="form-group {{ status.email !== 'valid' ? 'has-error' : '' }}">
      <label class="col-md-2 control-label">E-mail</label>

      <div class="col-md-10">
        <input type="email"
          class="form-control"
          placeholder="{{ session.profile.email }}"
          ng-change="validate()"
          ng-model="form.email">
      </div>
    </div>

    <div class="pull-right">
      <button type="submit" class="btn btn-danger" ng-click="logout()" ng-disabled="loading">Cerrar Sesión</button>
      <button type="submit" class="btn btn-info" ng-click="undo()" ng-disabled="! hasChanges() || loading">Deshacer cambios</button>
      <button type="submit" class="btn btn-success" ng-click="update()" ng-disabled="! isValid()">Guardar cambios</button>
    </div>
    <span ng-if="update_form_loading">CARGANDO</span>
  </form>

  <div class="clearfix"></div>

  <div class="history">
    <h1>Historial</h1>

    <div ng-if="! orders.length">
      <div class="alert alert-info">No has comprado nada hasta el momento</div>
    </div>

    <div ng-if="orders.length">
      <table class="table orders">
        <thead>
          <th>Orden</th>
          <th>Estado</th>
          <th>Confirmada</th>
          <th>Enviada</th>
          <th>Recibida</th>
        </thead>

        <tbody>
          <tr ng-repeat="order in orders">
            <td class="order">
              <p class="id">
                # {{ order.id }}
              </p>
              <p class="card"><span>Tarjeta: </span>{{ order.creditCard | formatCard }}</p>
              <p class="address"><span>Dirección: </span>{{ order.address.name }}</p>
            </td>
            <td ng-switch="order.status" class="status">
              <span ng-switch-when="confirmed" class="label label-info">Confirmada</span>
              <span ng-switch-when="sent" class="label label-info">Enviada</span>
              <span ng-switch-when="received" class="label label-info">Recibida</span>
            </td>
            <td>{{  order.processedDate | formatDate }}</td>
            <td>{{  order.shippedDate | formatDate }}</td>
            <td>{{  order.deliveredDate | formatDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
